# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
weather_df = pd.read_csv("../output_data/weather_df.csv")
weather_df = weather_df.drop("Unnamed: 0",axis=1)
weather_df.head()

,CityID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,2017215,Sangar,63.9242,127.4739,-25.51,99,99,2.66,RU,1672970571
1,3833367,Ushuaia,-54.8000,-68.3000,54.91,89,100,11.83,AR,1672970572
2,5855927,Hilo,19.7297,-155.0900,88.29,91,8,3.00,US,1672970572
3,286621,Salalah,17.0151,54.0924,72.55,72,71,8.88,OM,1672970572
4,5880054,Barrow,71.2906,-156.7887,-3.98,77,100,20.71,US,1672970573

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

# HINT: be sure to handle NaN values
weather_df = weather_df.dropna()

# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["Lat", "Lng"]]
Humidity = weather_df["Humidity"]

In [34]:
#Create a Humidity Heatmap layer
fig = gmaps.figure(center = [0,0],zoom_level = 2)
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
rev_weather_df = weather_df.loc[(weather_df["Max Temp"] < 80) & (weather_df["Max Temp"] > 70) 
                                & (weather_df["Wind Speed"] < 10) & (weather_df["Cloudiness"] == 0),:]


# Drop any rows that don't satisfy all three conditions. You want to be sure the weather is ideal.
rev_weather_df = rev_weather_df.dropna()
rev_weather_df.head()

,CityID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
28,3430863,Mar del Plata,-38.0023,-57.5575,71.10,93,0,6.91,AR,1672970289
69,4013679,Coahuayana Viejo,18.7333,-103.6833,72.79,92,0,0.67,MX,1672970610
100,4004293,Ixtapa,20.7000,-105.2000,74.23,76,0,1.50,MX,1672970434
139,4026082,Lázaro Cárdenas,17.9583,-102.2000,75.81,83,0,2.68,MX,1672970634
166,3985710,Cabo San Lucas,22.8909,-109.9124,74.52,70,0,8.05,MX,1672970644

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [37]:
hotel_df = rev_weather_df
hotel_df["Hotel Name"] = ""
hotel_df.head()

,CityID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
28,3430863,Mar del Plata,-38.0023,-57.5575,71.10,93,0,6.91,AR,1672970289,
69,4013679,Coahuayana Viejo,18.7333,-103.6833,72.79,92,0,0.67,MX,1672970610,
100,4004293,Ixtapa,20.7000,-105.2000,74.23,76,0,1.50,MX,1672970434,
139,4026082,Lázaro Cárdenas,17.9583,-102.2000,75.81,83,0,2.68,MX,1672970634,
166,3985710,Cabo San Lucas,22.8909,-109.9124,74.52,70,0,8.05,MX,1672970644,

In [40]:
params = {
    "radius": 5000,
    "type": "hotel",
    "keyword": "hotel",
    "key": g_key,
}
# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    # convert to json
    name_address = name_address.json()
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        # hotel_df.loc[index, "Hotel Address"] = name_address["results"][0]["vicinity"]
        # hotel_df.loc[index, "Hotel Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
hotel_df.head()

,CityID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
28,3430863,Mar del Plata,-38.0023,-57.5575,71.10,93,0,6.91,AR,1672970289,NH Gran Hotel Provincial
69,4013679,Coahuayana Viejo,18.7333,-103.6833,72.79,92,0,0.67,MX,1672970610,Hotel Los Arcos
100,4004293,Ixtapa,20.7000,-105.2000,74.23,76,0,1.50,MX,1672970434,hotel la terminal
139,4026082,Lázaro Cárdenas,17.9583,-102.2000,75.81,83,0,2.68,MX,1672970634,Baymont by Wyndham Lazaro Cardenas
166,3985710,Cabo San Lucas,22.8909,-109.9124,74.52,70,0,8.05,MX,1672970644,Solmar Resort

In [41]:
hotel_df.to_csv("hotel_output.csv")

In [42]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [43]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))